.Person{
    width: 60%;
    margin: 16px auto;
    margin-bottom: 3px;
    border: 3px rgb(35, 5, 66) solid;
    box-shadow: 1px 4px 5px #b4aeae;
    padding: 15px;
    
    text-align: center;
    
}