.Person{
    width: 60%;
    margin: auto;
    margin-bottom: 3px;
    border: 1px rebeccapurple solid;
    box-shadow: 0 2px 3px #b4aeae;
    padding: 15px;
    background-color:lightcyan;
    text-align: center;
    
}